@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "SenderMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2 class="">Giden Kutusu</h2>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.WriterMessageID</td>
            <td>@item.Subject</td>
            <td>@item.ReceiverName</td>
            <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
            <td>
                <a href="/Writer/Message/MessageDetails/@item.WriterMessageID" class="btn btn-outline-primary">Detaylar</a>
            </td>
        </tr>
    }
</table>

